
{% include 'caretakerheader.html' %}
<br><br><br>
<style type="text/css">
	.coulunm{
		float: center;
		width: 50%;
		padding: 10px;
		height: 100px;
	}
	.row:after{
		content: "";
		display: table;
		clear: both;
	}
</style>
<script src="/static/js/jquery.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD3MPnSnyWwNmpnVEFkaddVvy_GWtxSejs&sensor=false"></script>
    <script type="text/javascript">
        // window.onload = function () {
        	function myFunction(){
            var mapOptions = {
                center: new google.maps.LatLng(9.9763482, 76.286272),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            google.maps.event.addListener(map, 'click', function (e) {
                alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
                document.getElementById('lat').value = e.latLng.lat();
                document.getElementById('lon').value = e.latLng.lng();
 				 document.getElementById("dvMap").style.display = 'none';
            });
        }
    </script>
<form method="post" enctype="multipart/form-data">
	<table border="4" align="center" class="table" style="width: 700px">
	    <tr>
				<th>FIRST NAME</th>
				<td> <input type="text" name="fname" class="form-control" required="" pattern="[a-zA-z]{0,30}"></td>
		</tr>
		<tr>
				<th>
				LAST NAME</th>
				<td><input type="text" name="lname" class="form-control" required="" pattern="[a-zA-z]{0,30}"></td>
		</tr>
			
		<tr>
				<th> PHOTO</th>
				<td><input type="file" name="photo" class="form-control" required=""></td>
		</tr>
		<tr>
				<th> PHONE</th>
				<td><input type="text" name="phn" class="form-control" required="" pattern="[0-9]{10}"></td>
		</tr>
		<tr>
				<th> GENDER</th>
				<td><input type="radio" name="gender" value="male" checked="" class="form-control" required="">male
					<input type="radio" name="gender" value="female" class="form-control" required="">female</td>
		</tr>
		<tr>
				<th> DOB</th>
				<td><input type="date" name="Dob" class="form-control" required=""></td>
		</tr>

		<tr>
				<th> IMEI</th>
				<td><input type="number" name="imei" class="form-control" required=""></td>
		</tr>
			
		<tr>
				<th> LATITUDE</th>
				<td><input type="text" name="lat" id="lat" class="form-control" required=""></td>
		</tr>
		<tr>
				<th> LONGITUDE</th>
				<td><input type="text" name="lon" id="lon" class="form-control" required=""></td>
				<td><a onclick="myFunction();">View Map</a></td>
		</tr>
		<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="REGISTER" class="btn btn-success"></td>
		</tr>
	</table>
</form>
	 <div id="dvMap" style="width: 600px; height: 400px"></div>
	{% include 'footer.html' %}