
{% include 'publicheader.html' %}
	<form method="post">
		<table border =4 align="center" class="table" style="width: 700px">
			
			<tr>
				<th style="color:#ffff">FIRST NAME</th>
				<td> <input type="text" name="fname" class="form-control" required="" pattern="[a-zA-Z]{0,30}"></td>
			</tr>
			<tr>
				<th style="color:#ffff">LAST NAME</th>
				<td><input type="text" name="lname" class="form-control" required="" pattern="[a-zA-Z]{0,30}"></td>
			</tr>
			
			<tr>
				<th style="color: #ffff"> PHONE NO</th>
				<td><input type="text" name="phn" class="form-control" required="" pattern="[0-9]{10}"></td>
			</tr>
			<tr>
				<th style="color: #ffff"> EMAIL</th>
				<td><input type="text" name="mail" class="form-control" required=""></td>
			</tr>
			<tr>
				<th style="color: #ffff"> USER NAME</th>
				<td><input type="text" name="User name" class="form-control" required=""></td>
			</tr>
			<tr>
				<th style="color: #ffff"> PASSWORD</th>
				<td><input type="password" name="password" class="form-control" required=""></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="reg" value="REGISTER"class="btn btn-success"></td>
			</tr>
		</table>	

</form>
{% include 'footer.html' %}