<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <div>
  	<a href="/caretaker/caretakerhome">Caretaker Home</a>
  	<a href="/caretaker/care_manage_blind_account">Manage Blinds Account</a>
  	<a href="/caretaker/care_view_help_request">View Help Request</a>
  	<a href="/caretaker/add_emergency_num">Add Emergency Numbers</a>
  	
  </div>
  <div> -->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Blind's personal Assistance | About :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Teens Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- inner banner -->
    <section class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        Blind's personal Assitance
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/caretaker/caretakerhome">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  active mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/caretaker/care_manage_blind_account">Blind account</a>
                        </li>
                        <li class="nav-item  active mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/caretaker/care_view_help_request">Track blind</a>
                        </li>
                        <li class="nav-item  active mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/caretaker/add_emergency_num">Emergency Number</a>
                        </li>
                        <li class="nav-item  active mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/caretaker/care_train_faces">New Face Training</a>
                        </li>
                       <!--  <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="gallery.html">gallery</a>
                                <a class="dropdown-item scroll" href="#team">team</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="index.html">explore</a>
                            </div>
                        </li> -->
                        <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="/">Logout</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <!-- //header -->
    </section>